/* hemopage desing */

.hero-contect {
  display: grid;
  grid-template-columns: 69% 31%;
  height: 280px;
}
.positionfortitleheader {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}
.positionfortitleheader p {
  margin-bottom: 50px;
}

.hero-contect .brands-crafting {
  font-size: 60px;
  font-family: "Manrope-Medium";
  font-weight: 500;
  color: #212121;
  font-style: normal;
  line-height: normal;
}



.hero-contect .paragaraf-detatils {
  font-family: "Manrope-Medium";
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  font-style: normal;
  line-height: normal;
}

.main-img {
  margin-top: 60px;
}

.main-img-box {
  width: 1000px;
  position: relative;
}

.main-img-box img {
  width: 100%;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-btn {
  background-color: #212121 !important;
}
.play {
  color: #ffff;
}

.team-content p {
  color: #212121;
  font-family: "Manrope-Bold";
  font-size: 86px;
  font-weight: 700;
  width: 1000px;
}
.team-content {
  display: flex;
  justify-content: center;
}
.dotimg {
  width: 150px;
}

.over-services {
  margin-top: 40px;
}

.text-ourservices {
  padding: 10px 20px;
  border: 1px solid #747272;
  border-radius: 50px;
  color: #212121;

  text-align: justify;
  font-family: "Manrope-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.766px; /* 198.698% */
  letter-spacing: -0.9px;
}

.text-ourservices-2 {
  border: 1px solid #747272;
  border-radius: 50px;
  color: #212121;
  width: 120px;
  height: 35px;
  text-align: justify;
  font-family: "Manrope-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 35.766px; /* 198.698% */
  letter-spacing: -0.9px;
  display: grid;
  place-items: center;
}

/* services */

.services-homes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.products-homes text {
  color: rgba(33, 33, 33, 0.37);

  text-align: justify;
  font-family: "Manrope-Medium";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 7.2px;
}

.products-homes h1 {
  color: #212121;
  font-family: "Manrope-SemiBold";
  font-size: 88px;
  font-style: normal;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: -4.8px;
  margin: 5px 0px;
}
.products-homes p {
  color: #212121;
  font-family: "Manrope-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 400px;
}

.products-homes-detatils {
  padding: 0px 20px;
}

.products-imgs img {
  width: 100%;
}

.accordion {
  margin-top: 25px;
}
.header-for-AccordionSummary {
  color: #212121 !important;
  font-family: "Manrope-SemiBold" !important;
  font-size: 20px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
  letter-spacing: -0.48px !important;
}

.details-for-AccordionSummary {
  color: #000;
  font-family: "Manrope-Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* client */

.client-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.client-header .title-client,
.title-client {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.client-header .title-client img {
  width: 60px;
  height: 55px;
}
.client-header .title-client h2,
.title-client h2 {
  color: #212121;
  font-family: "Manrope-Bold";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.022px; /* 96.91% */
  letter-spacing: -3.2px;
  margin: 10px 0px;
}

.client-header p {
  text-align: center;
  width: 435px;
}

.box-client {
  width: 70%;
}

.center-clienimg-box {
  display: flex;
  justify-content: center;
}

.ImageList-gap {
  display: grid;
  gap: 0px !important;
}

.Our_Works {
  margin-top: 80px;
}

.our_work_header h1 {
  color: #212121;
  font-family: "Manrope-Bold";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 114.583% */
  letter-spacing: -4.8px;
  margin-top: 40px;
  width: 635px;
}

.divide-imges-ourwork {
  display: grid;
  grid-template-columns: 50% 50%;
}
.img-div-work img {
  width: 100%;
}

.title-our-work h3 {
  color: #212121;
  font-family: "Manrope-Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.359px; /* 113.996% */
  margin: 3px 0px;
}

.title-our-work div {
  margin-top: 15px;
  display: flex;
  gap: 13px;
}

.title-our-work div text {
  padding: 3px 8px;
  border: 1px solid black;
  border-radius: 50px;
  color: #212121;
  font-family: "Manrope-Medium";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.923px; /* 106.593% */
  text-transform: uppercase;
}
.work-content {
  padding: 20px;
}

/* stack */

.header-stack {
  margin-top: 80px;
}

.stack-block img {
  width: 100%;
}
.stack-block {
  margin-top: 90px;
}

/* news-content */

.news-div {
  margin-top: 100px;
}

.splite_news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.splite_news aside {
  color: #212121;
  text-decoration: underline;
  font-family: "Manrope-Medium";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14.923px;
}

.news-content {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 22px;
  margin-top: 50px;
}
/* .new-box{
  padding: 15px 15px 15px 0px;
} */

.img-news-box img {
  width: 100%;
}

.details-for-news {
  color: #212121;
  font-family: "Manrope-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.359px;
  margin-top: 7px;
}
.new-box p {
  color: #9d9d9d;
  font-family: "Manrope-SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.359px;
  margin-top: 7px;
}

.footer {
  margin-top: 90px;
}

.logo-footer {
  margin-top: 20px;
  width: 100px;
}
.logo-footer img {
  width: 100%;
}

.project-text li {
  color: #9d9d9d;
  font-family: "Manrope-Medium";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style: none;
}

.project-text li img {
  width: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.project-text h1 {
  color: #212121;
  font-family: "Manrope-Bold";
  font-size: 86px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  position: relative;
}

.project-text {
  margin-top: 90px;
}

.icon-project {
  color: #212121;
  position: absolute;
  bottom: 11px;
}

.project-text h1::after {
  position: absolute;
  content: "";
  background-color: #212121;
  width: 76%;
  height: 4px;
  bottom: -12px;
  left: 0px;
}

.contantsus-details {
  margin-top: 80px;
}

.contantus-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 30px 0px;
}

.contantus-content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contantus-content div:nth-child(4) {
  text-align: end;
}

.contantus-content div label {
  color: #9d9d9d;
  font-family: "Manrope-Medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.contantus-content div text {
  color: #212121;
  font-family: "Manrope-SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ============= aboutus page ============== */

.hero-contect-abouts{
  display: grid ;
  grid-template-columns: 60% 40%;
  height: 200px;
}

.hero-contect-abouts .brands-crafting .positionfortitleheader-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
 
}
.hero-contect-abouts .brands-crafting .positionfortitleheader-2 text{
  font-size: 80px;
  font-weight: 500;
  color: #212121;
  font-style: normal;
  line-height: normal;
  font-family: "Manrope-Bold";
}
.hero-contect-abouts  .paragaraf-detatils {
  font-family: "Manrope-Medium";
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  font-style: normal;
  line-height: normal;
}

.aboutusmain-img{
  margin-top: 40px;
}
.aboutusmain-img img{
  width: 100%;
}

.aside-content{
margin-top: 40px;
}

.aside-splited{
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-foraboutuspage{
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 11px;
}

.content-foraboutuspage div{
  font-family: "Manrope-Medium";
  font-size: 15px;
} 

.WhychooseUS-block{
margin-top: 50px;
}

.splites-thebox-WhychooseUS{
  display: grid;
  grid-template-columns: 50% 50%;
}

.img-whychooseus img{
   width: 100%;
}

.content-whychooseus{
  padding: 20px;
}

.content-whychooseus h1{
  font-family: "Manrope-Bold";
  font-size: 50px;
  margin-bottom: 8px;
}

.content-whychooseus p{
  font-family: "Manrope-Medium";
  padding-right: 30px;
}

.content-whychooseus text{
  font-family: "Manrope-Bold";
  font-weight: 500;
  text-decoration: underline;
}

.missionandvission-block{
  margin-top: 40px;
}

.splite-missionandvission-block{
  display: grid;
  grid-template-columns: 50% 50%;
}

.Our-statistics-block{
  margin-top: 40px;
}

.splite-Our-statistics-block{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.splite-Our-statistics-block div h1{
  font-family: "Manrope-Bold";
  font-size: 60px;
  margin: 0px;
}

.splite-Our-statistics-block div p{
  font-family: "Manrope-Medium";
  font-size: 15px;
  padding-right: 30px;
  margin: 0px;
}

.img-Our-statistics-block{
  background-color: #D8DDF7;
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  margin-top: 30px;
}

.img-Our-statistics-block img{
  width: 50%;
}

.header-titile-services-page{
  display: grid;
    grid-template-columns: 60% 40%;
}

.header-titile-services-page h1{
  font-family: "Manrope-Regular";
  font-size: 88px;
  font-weight: 400;
  margin: 50px 0px;
  line-height: 85px;
}
.header-titile-services-page h1 text{
  font-family: "Manrope-Regular";
  font-weight: 700;
}
.header-titile-services-page img{
  width: 50px;
  margin-left: 25px;
} 


/* ====================== Resoures Page =================== */

.splited-Resourcespage-sideimg-block{
  display: grid;
  grid-template-columns: 50% 50%;
}


.img-side-Resourcespage img{
  width: 100%;
}

.img-group-Resourcespage{
  width: 50%;
  margin: 10px 0px;
  margin-bottom: 20px;
}

.img-group-Resourcespage img{
  width: 100%;
}

.content-Resourcespage h1{
  font-family: "Manrope-Bold";
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.content-Resourcespage p{
  font-family: "Manrope-Medium";
    padding-right: 30px;
    margin: 35px 0px;
    margin-top: 10px
}

.titile-workdetails-h1 {
  font-family: "Manrope-SemiBold";
  font-size: 70px;
  margin-bottom: 0px;
}

.main-img-workdetails{
  margin-top: 70px;
}

.main-img-workdetails img{
  width: 100%;
}

.size-box{
  width: 50%;
}

.content-in-para-workdetails{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  padding-top: 50px;
}

.content-in-para-workdetails text{
  font-family: "Manrope-SemiBold";
  color: #9D9D9D;
  
}
.content-in-para-workdetails text:nth-child(1){
  font-size: 13px;
}

.content-in-para-workdetails p{
  font-family: "Manrope-SemiBold";
  margin-bottom: 30px;
}

.splited-details{
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 21px;
  margin-top: 35px;
}


.splited-details img{
  width: 100%;
  border-radius: 22px;
}

.splited-details h2{
  font-family: "Manrope-SemiBold";
  font-size: 30px;
  text-align: center;
  margin: 16px 0px;
}

.splited-details p{
  font-family: "Manrope-Regular";
  padding-right: 30px;
  font-weight: 500;
}

.challenges-1-img{
  margin-top: 50px;
}

.challenges-1-img img{
  width:100% ;
}

.simalar-block{
  margin-top: 30px;
}

/* ================  Contactuspage  =================== */

.contantuspage-block{
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

.contantuspage-img img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.contect-img-contactus{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 30px;
}

.titile-contactuspage{
  font-family: "Manrope-Bold";
  line-height: 80px;
  font-size: 45px;
}
.titile-contactuspage h1{
  margin: 0px;
  color: #212121;
}

.part-1-contactus p{
  font-family: "Manrope-Medium";
  font-size: 15px;
  padding-right: 30px;
}

.emailandphone-contantus{
  margin: 15px 0px;
}

.emailandphone-contantus h3{
  font-family: "Manrope-Bold";
  margin-bottom: 5px;
  color: #212121;
}
.emailandphone-contantus text{
   font-family: "Manrope-SemiBold";
   color: #707070;
}

.part-1-contactus{
  display: flex;
  flex-direction: column;
}

.sizeof-contact-number{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.sizeof-contact-number input{
  width: 100%;
  height: 20px;
  background-color: #E9E9E9;
  border: 1px solid #BEC2CD;
  border-radius: 12px;
  padding: 10px;
}
.sizeof-contact-number textarea{
  width: 100% !important;
  padding: 10px;
  background-color: #E9E9E9;
  border: 1px solid #BEC2CD;
  border-radius: 12px;
}
.inputs-content{
  display: grid;
  place-items: center;
}